.cartImg {
    width: 100px;
    height:150px;
}
.cartItem {
    display: flex;
    border: 1px solid gray;
    /* justify-content: ; */
    width: 50%;
    margin-bottom: 5px;
}
.items {
    width: 60%;
    /* border: 1px solid red; */
    padding-top: 70px;
    padding-left: 50px;

}